.datapage {
    min-height: 100vh;
    padding: 20px 30px;
}

.headContent {
    margin: 15px;
    padding: 10px;
}

.errorMessage {
    padding: 20px;
    font-size: 24px;
    color: red;
    font-weight: 600;
}

table,

th,
td {
    border: 1px solid;

}

table {
    border-collapse: collapse;
}

td a {
    color: black;
}

article {
    margin: 50px 30px;
    text-align: justify;
    text-indent: 20px;
}